.App {
  font-family: sans-serif;
  text-align: center;
}

.userContainer {
  display: flex;
  align-items: flex-start;
  margin: 51px 54px 0px;
}

.imageContainer {
  margin: 0 0 20px 0;
}
img {
  width: 200px;
  height: 200px;
}
button {
  background-color: blue;
  padding: 9px;
  width: 176px;
  border-radius: 5px;
}

.userInfo {
  width: 100%;
}

.metaData {
  margin-bottom: 40px;
}

span {
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin: 0 3px 10px 0;
}

.publicRepo {
  background-color: rgb(34, 34, 248);
}
.gists {
  background-color: rgb(107, 105, 105);
}
.followers {
  background-color: rgb(202, 51, 51);
}
.following {
  background-color: rgb(53, 158, 53);
}

p {
  border: 1px solid black;
  padding: 15px;
  width: 100%;
  margin: 0;
  text-align: initial;
}

input {
  padding: 5px;
  width: 15%;
}

a {
  color: white;
  text-decoration: none;
}
